@import url('./bulma.min.css');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Ubuntu|Poppins|Lato');

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
}

html, body {
    /*background-color: #F6F8FB;*/
    background-color: var(--background-color);
    transition: background-color 1s, color 1s;
}

html {
    scroll-behavior: smooth;
}

/*.dark {
    --title-color: #d4dcff;
    --boby-color: #afafaf;
    --background-color: #121c42;
    --forceground-color: #121c42;
    --blend-mode: lighten;
}*/

.light {
    --title-color: #4a4a4a;
    --boby-color: #afafaf;
    --background-color: #F6F8FB;
    --forceground-color: #F6F8FB;
    --blend-mode: lighten;
}

.zoom-image {
}

.zoom-image-big {
    overflow: hidden;
    padding: 2px;
}

.zoom-image-big > img {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.zoom-image:hover > .zoom-image-big > img {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

/* Header */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.header-title {
    margin-right: auto;
    font-size: 150%;
    color: var(--title-color);
}

.header-link {
    list-style: none;
    display: flex;
}

.header-link li {
    padding: 0px 20px;
}

.header-link li a {
    transition: all 0.3s ease 0s;
}

/* When the button is pressed */
.header-link li a:hover {
    color: #5eb5e0;
}

.header-button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #0099FF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: whitesmoke;
}

/* Middle */

.presentation-title {
    position: absolute;
    left: 25%;
    top: 40%;
    font-size: 30px;
    color: var(--title-color);
}

.presentation-text {
    position: absolute;
    left: 24%;
    top: 44%;
    font-size: 30px;
    color: var(--title-color);
}

.presentation-image {
    position: absolute;
    right: 20%;
    top: 25%;
    width: 500px;
    height: 500px;
}

.wave-1 {
    position: absolute;
    width: 100%;
    top: 878px;
}

.wave-2 {
    position: absolute;
    width: 100%;
    top: 870px;
}

/* Section */

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.section-title {
}

.section-description {
}

.section-article {

}

/* Progression */

.skill-name {

}

.skill-description {

}

.skill-image {

}

/* Footer */

.footer-wave {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 1440px;
    bottom: 0;
}

.footer-text {
    color: #1c1c1c;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 1rem;
}